.wrapper{
    padding:20px 10px;
    width: 3%;
    background: #110F1D;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 105vh;
    display: flex;
    flex-direction: column;
}
