.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    min-height: calc(100% * 230 / 900);
    background: #110F1D;
    padding: 10px  40px;
    height: "100%",

}