.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    min-height: calc(100% * 230 / 900);
    background: hsl(249, 32%, 9%);
    padding: 54px  50px;
    height: "100%",

}