.wrapper{
    width: 100%;
    height: 100%;
}
.section{
    width: 100%;
    margin-top: 20px;
    text-align: center;
}
.copyPart{
    width: 100%;
}
.textSection{
    text-align: center;
    
}
.transactions{
    margin-top: 150px;
    padding: 0 20px;
    
}